* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
.container 		{ 
  font-family:'Roboto';
  width:300px; 
  display:flex; 
  justify-content: center;
  align-items: center;
  background:#FFF;
  padding:10px 50px 50px;

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:15px;
  padding:10px 10px 10px 5px;
  display:flex;
  width:250px;
  border:none;
  border-bottom:1px solid rgba(39, 39, 39, 0.4);
  background-color: white;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:rgba(39, 39, 39, 0.8); 
  font-size:15px;
  font-weight:bold;
  position: absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:12px;
  color:rgba(39, 39, 39, 0.8);
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:250px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:rgba(39, 39, 39, 0.8); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.button{
border-bottom: 0;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
color: rgba(39, 39, 39, 0.8);
font-size:1.2rem;
}

.button:hover{
  opacity: 0.5;
}

}
